body{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.main{
  background-color: #ed7f65;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.head{
  background-color: #ffee3f;
  position: relative;
  width: 110px;
  height: 100px;
  left: 55%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50px;
  z-index: 9999;
}

.body{
  background-color: #ffee3f;
  position: relative;
  width: 110px;
  height: 150px;
  left: 50%;
  top: 20%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  border-bottom-right-radius:50px ;
  border-bottom-left-radius:50px ;
  z-index: 999;
}

.eye{
  background-color: white;
  position: relative;
  width: 40px;
  height: 20px;
  transform: translateX(-49%) ;
  border-radius: 100px;
}
.eye1{
  left: 33%;
  top: 30%;
}

.eye2{
  left: 30%;
  top: 30%;
}

.eyebrown{
  background-color: #423426;
  position: relative;
  width: 12px;
  height: 12px;
  transform: translateX(-50%) ;
  border-radius: 150px;
}

.eyebrown1{
  left: 60%;
  top: 30%;
}
.eyebrown2{
  left: 40%;
  top: 30%;
}

.eyewhite{
  background-color: #fff;
  position: relative;
  width: 5px;
  height: 5px;
  transform: translateX(-40%) ;
  border-radius: 150px;
}

.eyewhite1{
  left: 55%;
  top: 20%;
}
.eyewhite2{
  left: 45%;
  top: 20%;
}

.glasses{
  background-color: rgba(172, 172, 172, 0.2);
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 150px;
  transform: translateY(-55%) translateX(1%);
  border: 5px solid #e0dfdd;
}

.stripe{
  background-color: #4e4948;
  width: 15px;
  height: 5px;
  border-radius: 50px;
  position: absolute;
  top: 5px;
}
.stripe::after{
  content: "";
  background-color: #000000;
  width: 15px;
  height: 5px;
  border-radius: 50px;
  position: absolute;
  top: 5px;
}

.stripe1{
  transform: translateX(-15px) ;
}

.stripe2{
  transform: translateX(41px) ;
}

.mouse{
  background-color: #663b1e;
  width: 50px;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  top: 80%;
  left: 30%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  
}

.mouse::after, .mouse::before{
  content: "";
  background-color: #ffffff;
  width: 10px;
  height: 6px;
  border-radius: 50px;
  position: absolute;
  left: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.mouse::before{
  left: 25px;
}

.teeth1{
  background-color: #ffffff;
  width: 8px;
  height: 4px;
  border-radius: 50px;
  position: absolute;
  left: 35px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.teeth2{
  background-color: #ffffff;
  width: 8px;
  height: 4px;
  border-radius: 50px;
  position: absolute;
  left: 7px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.clothes{
  background-color: #2b5b88;
  height: 50px;
  top: 70%;
  position: relative;
  border-bottom-right-radius:50px ;
  border-bottom-left-radius:50px ;
}

.clothes::before{
  content: "";
  background-color: #2b5b88;
  height: 40px;
  width: 60px;
  top: -50%;
  left: 25px;
  position: absolute;
}

.clothes::after{
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  height: 20px;
  width: 25px;
  top: -20%;
  left: 42px;
  position: absolute;
  border-bottom-right-radius:50px ;
  border-bottom-left-radius:50px ;
}

.leftStripe{
  background-color: #214265;
  height: 7px;
  width: 35px;
  top: -60%;
  left: -5px;
  position: absolute;
  transform: rotate(20deg);
}

.leftStripe::after{
  content: "";
  background-color: #2c2d24;
  height: 5px;
  width: 5px;
  top: 10%;
  left: 30px;
  position: absolute;
}

.rightStripe{
  background-color: #214265;
  height: 7px;
  width: 35px;
  top: -60%;
  right: -5px;
  position: absolute;
  transform: rotate(-20deg);
}

.rightStripe::after{
  content: "";
  background-color: #2c2d24;
  height: 5px;
  width: 5px;
  top: 10%;
  right: 30px;
  position: absolute;
}



.leftHand{
  background-color: #e4c133;
  width: 8px;
  height: 55px;
  position: absolute;
  left: -6.5%;
  top:55%;
  border-top-left-radius:5px ;
  border-top-right-radius:5px ;
}

.leftHand::after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #413f3f transparent transparent transparent;
  position: absolute;
  bottom: 0%;
  transform: translateX(-8px) translateY(10px);

}

.rightHand{
  background-color: #e4c133;
  width: 8px;
  height: 55px;
  position: absolute;
  right: -7.5%;
  top:55%;
  border-top-left-radius:5px ;
  border-top-right-radius:5px ;
}

.rightHand::after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #413f3f transparent transparent transparent;
  position: absolute;
  bottom: 0%;
  transform: translateX(-8px) translateY(10px);
}

.restRight, .restLeft{
  background-color: #413f3f;
  width: 12px;
  height: 20px;
  bottom: -5px;
  position:absolute;
  transform: translateY(16PX) translateX(-2px);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  
}

.restRight::after{
  content: "";
  background-color: #383e34;
  width: 8px;
  height: 8px;
  bottom: 14px;
  position:absolute;
  transform: translateY(14PX) translateX(-2px);
  border-radius:50px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;

}

.restRight::before{
  content: "";
  background-color: #3a302e;
  width: 8px;
  height: 8px;
  bottom: 19px;
  position:absolute;
  transform: translateY(14PX) translateX(-3px);
  border-radius:50px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.restLeft::after{
  content: "";
  background-color: #383e34;
  width: 8px;
  height: 8px;
  bottom: 15px;
  position:absolute;
  transform: translateY(14PX) translateX(8px);
  border-radius:50px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.restLeft::before{
  content: "";
  background-color: #3a302e;
  width: 8px;
  height: 8px;
  bottom: 19px;
  position:absolute;
  transform: translateY(12PX) translateX(8px);
  border-radius:50px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.leftLeg{
  background-color: #24455f;
  height: 25px;
  width: 30px;
  position: absolute;
  bottom: 0px;
  right: 20%;
  transform: translateY(20px);
  z-index: -1;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.leftLeg::after{
  content: "";
  background-color: #3f4442;
  height: 15px;
  width: 30px;
  position: absolute;
  bottom: 0px;
  right: 20%;
  transform: translateY(5px) translateX(7px);
  border-radius: 20px;
  border-bottom-left-radius: 0px;
    border-top-right-radius: 80px;

}


.leftLeg::before{
  content: "";
  background-color: #4b2d2d;
  height: 3px;
  width: 32px;
  position: absolute;
  bottom: 0px;
  right: 20%;
  transform: translateY(8px) translateX(8px);
  border-radius: 20px;
}



.rightLeg{
  background-color: #24455f;
  height: 25px;
  width: 30px;
  position: absolute;
  bottom: 0px;
  left: 20%;
  transform: translateY(20px);
  z-index: -1;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.rightLeg::after{
  content: "";
  background-color: #3f4442;
  height: 15px;
  width: 30px;
  position: absolute;
  bottom: 0px;
  right: 20%;
  transform: translateY(5px) translateX(5px);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 80px;
}

.rightLeg::before{
  content: "";
  background-color: #4b2d2d;
  height: 3px;
  width: 32px;
  position: absolute;
  bottom: 0px;
  right: 20%;
  transform: translateY(8px) translateX(5px);
  border-radius: 20px;
}